.new-banner{
    background-image: url('./image/Banner\ Image.png');
    height: 100vh;
    background-repeat: no-repeat;
}
.banner-info{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 30px;
}
.banner-party{
    margin-bottom: -30px;
}

.categore{
    text-align: center;
}
.categoreOff{
    /* margin-top: 100px; */
    color: #FF0000;
    font-size: 70px;
    margin: 0;
}
.holidy{
    color: #FF0000;
    margin: 0;
    padding-bottom: 10px ;
}