/* 
* {box-sizing: border-box;
padding: 0;
margin: 0;
} */
/* *{
    margin: 0;
    
} */
.new-banner {
    background-image: url('./image/Banner\ Image.png');
    height: 100vh;
    background-repeat: no-repeat;
}

.banner-info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 30px;
}

.banner-party {
    margin-bottom: -30px;
}

.categore {
    text-align: center;
}

.categoreOff {
    /* margin-top: 100px; */
    color: #FF0000;
    font-size: 70px;
    margin: 0;
}

.holidy {
    color: #FF0000;
    margin: 0;
    padding-bottom: 10px;
}

.midnight {
    background-image: url('./image/Vectorrr.png');
    height: 100vh;
    background-repeat: no-repeat;
    margin-top: 50px;

}

.midnight-party {
    height: 100%;
    display: flex;
    justify-content: start;
    color: white;
    font-size: 30px;

}

.welcome {
    padding: 200px;
}

.parkHotel {
    display: flex;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
    text-align: center;
    height:300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.parkH{
    margin:0px 10px 20px 0px;
    
}


.parkHotel, p{
    margin: 0;
}


.imageFlex{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 90%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-left: 16px;
  border-radius: 5px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
/* .imageHover:hover{
    position: relative;
    top: 100px;
    text-align: center;
    color: white;
}
.overlay{
    position:absolute;
    
} */

.newslatter{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 100px 0px 100px 0px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.emilInput{
    padding: 20px;
    border-radius: 50px 0px 0px 50px;
    width: 400px;
    background: rgb(255, 255, 255);
}
.btn{
    border: none;
    color: white;
    height: 60px;
    width: 150px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    margin-left: -90px;
}
.footer{
    width: 100%;
    height: 500px;
    background: rgb(7, 2, 17);
}
.big{
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 100px 180px 50px 140px;
}
.social-icon{
    display: flex;
    /* background-color: white; */
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}
.fa-facebook{
    color: #1877F2;
    font-size: 30px;
    margin-right: 20px;
}
.fa-square-instagram{
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 20px;
}
.fa-x-twitter{
 color: #FFFFFF;
 font-size: 30px;
 margin-right: 20px;
}
.fa-linkedin{
    color:#0B69C7 ;
    font-size: 30px;
}
.rights{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 180px 50px 140px;
}


.offer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bestOffer{
    
}
.middleImage{
    margin-right:110px;
    margin-left: 70px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    padding: 30px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
